* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -ms-box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
    color: #4e4e4e;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

header {
    background-color: #7477bf;
    color: #ffffff;
    grid-area: header;
    padding: 0 15px;
}

.header-not-bold {
    font-weight: lighter;
}

h1 {
    float: left;
    font-size: 1.5em;
    margin: 30px 0;
}

.user-info {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 0.67em 0;
}

.notifications {
    padding: 22px 10px;
    display: flex;
    flex-direction: row;
}

.bell-icon {
    width: 20px;
    height: 20px;
}

.bell-icon:hover {
    animation: ring 4s .7s ease-in-out;
    transform-origin: 50% 4px;
}

.notification-alert {
    background-color: #85db81;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.border {
    border-left: 2px #6a6ebf solid;
    padding: 17px 10px;
}

.your-name {
    font-size: 1em;
    padding: 7px 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #4d4c72;
    grid-area: navigation;
}

.nav-icon {
    height: 45px;
    width: 45px;
    padding: 10px 10px;
    opacity: 50%;
}

.active-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active-border {
    background-color: #81c98f;
    height: 3px;
    width: 45px;
    border-radius: 0 0 3px 3px;
}

main {
    display: grid;
    grid-area: main;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.padding {
    padding: 0 5px;
}

.padding-bottom {
    padding-bottom: 1em;
}

.border-bottom {
    border-bottom: 2px #e9e9e9 solid;
}

.headline {
    font-size: 1.17em;
    flex-basis: 34%;
    text-align: center;
}

#search, 
#userField, 
#messageField, 
#timezone {
    border: 2px #e9e9e9 solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: .75em;
}

.main-header-search {
    display: flex;
    flex-basis: 66%;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    border-bottom: 2px #e9e9e9 solid;
    border-left: 2px #e9e9e9 solid;
}

#search {
    margin: auto auto auto 10px;
    width: 90%;
}

.traffic-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.traffic-nav li, 
.traffic-nav a {
    display: inline;
}

.traffic-nav li {
    padding: 0 5px;
    font-size: .75em;
}

.active-chart {
    background-color: #81c98f;
    color: #ffffff;
    border-radius: 15px;
}

.active {
    opacity: 100%;
}

.inactive {
    opacity: 0;
}

main h3 {
    font-size: 1em;
    text-transform: uppercase;
}

.daily {
    text-align: left;
}

.mobile {
    text-align: left;
}

.profile-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#alert {
    color: #ffffff;
    background-color: #7477bf;
    border-radius: 5px;
    font-size: .75em;
    padding: 0 10px;
    margin: 1em 5px;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-container > h3 {
    text-align: left;
}

.social-container > .social-info:not(:last-child) {
    margin-bottom: 10px;
}

.social-image {
    float: left;
    height: 60px;
    width: 60px;
    background-color: #7477bf;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 15px;
}

.social-info {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    border: 2px #e9e9e9 solid;
    border-radius: 5px;
}

.twitter, 
.facebook, 
.google-plus {
    display: block;
    margin: 13px auto;
    height: 35px;
    width: 35px;
}

.social-text {
    display: block;
    text-align: left;
}

.media {
    color: #7477bf;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0;
}

.number {
    font-size: 2.25em;
    margin: 0 auto;
}

.members-info, 
.members-activity {
    display: flex;
    flex-direction: row;
    font-size: .65em;
    padding: 0 5px;
}

.members-info:not(:last-child), 
.members-activity:not(:last-child) {
    margin-bottom: 1em;
}

.members-container > .members-info:not(:last-child), 
.members-container > .members-activity:not(:last-child) {
    border-bottom: 2px #e9e9e9 solid;
}

.members-info > .profile-image, 
.members-activity > .profile-image {
    margin-bottom: 1em;
}

.members-text, 
.members-action {
    padding: 4px 10px;
}

.members-text > p, 
.members-action > p {
    margin: 0 auto;
}

.members-text > a {
    color: #7477bf;
    text-decoration: none;
}

.date {
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 17px;
}

.widget-container-full, 
.widget-container-half {
    width: 95vw;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

#userField, 
#messageField, 
#timezone {
    margin-bottom: 1em;
}

#messageField {
    height: 100px;
}

.button-primary, 
.button-disabled {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
}

.button-primary {
    background-color: #7477bf;
}

.button-disabled {
    background-color: #b2b2b2;
}

.settings {
    display: flex;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b2b2b2;
    border: 2px #e9e9e9 solid;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:after {
    content:'OFF';
    color: #ffffff;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 65%;
}

input:checked + .slider:after {  
    content:'ON';
    left: 30%;
}
  
input:checked + .slider {
    background-color: #7477bf;
    border: 2px #e9e9e9 solid;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.round {
    border-radius: 20px;
}
  
.round:before {
    border-radius: 50%;
}

.settings label {
    padding-top: 4px;
    font-size: .75em;
}

.email-notification, 
.profile-setting {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.toggle {
    margin-left: auto;
    margin-right: 100px;
}

.settings-button {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 50px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    header {
        height: 75px;
    }

    h1 {
        margin: 23px 0;
    }

    .user-info {
        margin: 0.2em 0;
    }

    nav {
        flex-direction: column;
    }

    .active-link {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }

    .active-border {
        height: 45px;
        width: 3px;
        border-radius: 0 3px 3px 0;
    }

    .main-header {
        padding-left: 15px;
    }

    .headline {
        font-size: 1.375em;
        text-align: left;
    }

    .padding {
        padding: 0 15px;
    }

    .padding-bottom {
        padding-bottom: 1em;
    }

    #alert {
        margin: 1em 15px;
    }

    .members-info, 
    .members-activity {
        font-size: .85em;
    }

    .members .profile-image, 
    .activity .profile-image {
        height: 35px;
        width: 35px;
    }

    #search, 
    #userField, 
    #messageField, 
    #timezone {
        font-size: .95em;
    }

    .settings label {
        font-size: .95em;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 50%;
    }

    .main-header, 
    .alert, 
    .traffic, 
    .social-container {
        grid-column: 1 / span 2;
    }

    .daily, 
    .members, 
    .message {
        grid-column: 1 / span 1;
    }

    .mobile, 
    .activity, 
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .message {
        border-bottom: none;
    }
}