* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

header {
    background-color: #7477bf;
    color: #ffffff;
    grid-area: header;
    padding: 15px 10px;
}

.header-not-bold {
    font-weight: lighter;
}

h1 {
    float: left;
}

.user-info {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 0.67em 0;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: #4d4c72;
    grid-area: navigation;
}

nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-icon {
    height: 50px;
    width: 50px;
    padding: 10px 10px;
}

main {
    display: grid;
    grid-area: main;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.traffic-header {
    display: flex;
    flex-direction: row;
}

.traffic-nav li, 
.traffic-nav a {
    display: inline;
}

.traffic-nav li {
    padding: 0 10px;
}

.active {
    background-color: #81c98f;
    color: #ffffff;
    border-radius: 15px;
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.social-image {
    height: 100px;
    width: 100px;
    background-color: #7477bf;
    border-radius: 50%;
}

.twitter, 
.facebook, 
.google-plus {
    display: block;
    padding: auto;
    height: 65px;
    width: 65px;
}

.widget-container-full, 
.widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .user-info {
        display: inline;
        float: right;
    }

    main {
        grid-template-columns: 50%;
    }

    .traffic, 
    .social {
        grid-column: 1 / span 2;
    }

    .daily, 
    .members, 
    .message {
        grid-column: 1 / span 1;
    }

    .mobile, 
    .activity, 
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}